body {
    background-image: url("https://blenderartists.org/uploads/default/original/4X/7/e/2/7e2d7bea4ac21388c4a96e1371f375c4ce00094b.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#click-counter, #timer {
    font-size: 18px;
    margin-bottom: 100px;
}

/*#stop-timer {
margin-left: 40px;
padding-right: 12px;

} */

#minutes, #seconds{
  color: white;
  font-style: italic;
  font-family: timesnewroman;
  background-color: inherit;
  border: none;
  padding-right:0.1px;
}
#seconds{
  padding-left: 30px;
}
#click-btn {
    padding: .1px .1px;
    font-size: 2px;
    cursor: pointer;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    appearance: none;
    background-color: rgba(0, 0, 0, 6);
    transition: all 0.7s ease-in-out;
    margin-left:10px;
}

#click-btn:hover {
    transform: rotate(360deg);
}

#click-btn:active{
transform:scale(1.5);
transition: all 0.3s ease-in-out;
}

#click-btn:active{
transform:scale(1.5);
transition: all 0.3s ease-in-out;
}
